.linea1 {
  font-size: 30px;
  background-color: blue;
  color: black;
  margin: 25px;
}

.text {
  font-family: 'Serif';
  color: black;
  font-size: 20px;
  background-color: aqua;
  border: 2px solid purple
}

.tittle {
  background-color: green;
  color: black;
  font-size: 25px;
  margin: 40px;
}

.image-row {
  display: inline-flex;
  justify-items: space-between;
  justify-content: space-between;
}